@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;700&display=swap");

.character {
  border: 6px solid yellow;
  background-color: #483d8b;
  padding: 12px;
  margin: 14px;
  width: 12vw;
  /* height: 30vh; */
  min-height: 250px;
}

.character img {
  width: 150px;
  /* height: 150px; */
}

.character h1 {
  font: 700 1.2rem Poppins;
}

.character p {
  margin: 0;
  font: 400 1rem Archivo;
}
