@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;700&display=swap");

.page1-content {
  font: 700 1.2rem Poppins;

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page1-content button {
  border: 0;
  border-radius: 0.4rem;
  margin: 10px;
  width: 120px;
  height: 40px;
  font: 700 1rem Poppins;
  cursor: pointer;
}

.page1-content button:hover {
  background-color: powderblue;
}
