@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;700&display=swap");

.App {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;

  background: powderblue;
  height: 6vh;
}

.navbar-pages {
  /* padding: 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar #link {
  font: 700 1.4rem Archivo;
  text-decoration: none;
}

.page-content {
  margin-top: 5vh;
}
